// Loops to enumerate the classes for grid items
@for $i from 1 through 12 {
  .easy-grid-cell.cells_#{$i} {
    grid-column: span #{$i};
  }
}

// some common cell combinations
.easy-grid-cell.half_grid {
  grid-column: span 6;
}
.easy-grid-cell.third_grid {
  grid-column: span 4;
}
.easy-grid-cell.fourth_grid {
  grid-column: span 3;
}
.easy-grid-cell.sixth_grid {
  grid-column: span 2;
}

@media screen and (max-width: $width__sm) {
  @for $i from 1 through 12 {
    .easy-grid-cell.cells_#{$i} { grid-column: span 12; }
  }
  .easy-grid-cell.half_grid {
    grid-column: span 12;
  }
  .easy-grid-cell.third_grid {
    grid-column: span 12;
  }
  .easy-grid-cell.fourth_grid {
    grid-column: span 12;
  }
  .easy-grid-cell.sixth_grid {
    grid-column: span 12;
  }
}
